$white: #fff;
$darkWhite: #f5f5f5;
$lightBlue: lightblue;
$lightGray: #d3d3d3;
$smokeGray: lightgray;
$polarGray: #808080;
$lightGreen: lightgreen;
$festiveGreen: #008966;
$yellow: yellow;
$small: 640px;
$medium: 768px;
$large: 1024px;
$xLarge: 1280px;
