@import 'src/styles/variables';
@import 'src/styles/mixins';

.searchBarContainer {
  @include flex(row, space-evenly, start, nowrap);
  @include size(70%, 5vh);
  margin: 40px 0;
  @media screen and (max-width: $small){
    @include flex(row, space-around, start, nowrap);
    @include size(90%, 3vh);
  }

  & .searchInput {
    @include size(70%, none);
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    @media screen and (max-width: $small){
      @include size(65%, none);
    }
  }

  & .searchButton {
    padding: 8px;
    color: $white;
    background-color: $lightGray;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: $lightBlue;
    }

    & img {
      @include size(20px, 20px);
      @media screen and (max-width: $small){
        @include size(18px, 18px);
      }
    }
  }
}